<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EJS 연습</title>
</head>
<body>
    <h1>안녕, <%= name %>!</h1>

    <% if (isStudent) { %>
        <p>당신은 학생입니다.</p>
    <% } else { %>
        <p>당신은 학생이 아닙니다.</p>
    <% } %>
    <a href="/students">학생 목록 보러 가기</a>
    <a href="/students/new">학생 추가하기</a>
</body>
</html>
